{% extends "default.html" %}

{% block head %}
<title>Snippet not found | The Gamma Gallery</title>
{% endblock %}

{% block body %}
<header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <a href="/"><h1><span><strong>404</strong>: Snippet not found</span></h1></a>
    </div>
  </div>
</div>
</header>
  
<article>
<div class="container">
  
<div class="row"><div class="col-sm-12 col-md-8">
  <h2>Oh no, looks like you got a wrong link!</h2>
  <p>If you think this is an error, please open an issue on our 
    <a href="https://github.com/the-gamma/thegamma-snippets-web/issues">GitHub page</a>.
    Otherwise, you can go to the <a href="/">The Gamma snippets</a> homepage or browse
    the list of <a href="/all">all snippets</a> and see if the one you were looking for
    is there. You can also visit <a href="http://thegamma.net/">The Gamma</a> homepage
    to learn more about the project, or you can contact us via Twitter at
    <a href="http://twitter.com/thegamma_net">@thegamma_net</a>.
  </p>
</div></div>

</div>
</article>
{% endblock %}
