{% extends "default.html" %}

{% block head %}
<title>Something went wrong | The Gamma Snippets</title>
{% endblock %}

{% block body %}
<header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <a href="/"><h1><span><strong>Error</strong>: Something went wrong</span></h1></a>
    </div>
  </div>
</div>
</header>
  
<article>
<div class="container">
  
<div class="row"><div class="col-sm-12 col-md-8">
  <h2>Oh no, looks like something went wrong!</h2>
  <p>{{ model }}</p>
</div></div>

</div>
</article>
{% endblock %}
